<h1>Editing <%= singular_name %></h1>

<%% form_for(@<%= singular_name %>) do |f| %>
  <%%= render :partial => f %>
  <p>
<% if ! options[:skip_confirmation] %>
    <%%= f.submit 'Confirm' %>
    <%%= f.reset 'Reset' %>
<% else %>
    <%%= f.submit 'Update' %>
<% end -%>
  </p>
<%% end %>

<%%= link_to 'Show', <%= singular_path %>_path(@<%= singular_name %>) %> |
<%%= link_to 'Back', <%= plural_path %>_path %>
